.green{
    width: 187px;
    height: 187px;

    background: #10BD17;
    border-radius: 93.5px}

.green_eyes{
    width: 37px;
    height: 39px;

    background: #10BD17;
    border-radius: 93.5px;
}
.green_eyes1{
    width: 37px;
    height: 39px;

    background: #10BD17;
    border-radius: 93.5px;
}
.green_mouth{
    width: 114px;
    height: 35px;

    background: #10BD17;
    border-radius: 0px 0px 125px 125px;
}
